nav.navbar {
  background: #1575c1;
  border-color: #1575c1;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center; }
  nav.navbar div div.navbar-header .navbar-brand {
    color: #fff; }
  nav.navbar div div:nth-child(2) ul li a {
    color: #fff; }

header {
  height: 75% !important; }
  header div.carousel-inner .item:nth-child(1) .fill {
    background: url(../img/landing-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  header div.carousel-inner .item:nth-child(2) .fill {
    background: url(../img/landing-image-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  header div.carousel-inner .item:nth-child(3) .fill {
    background: url(../img/landing-image-3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  header div.carousel-inner .item .carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px; }
    header div.carousel-inner .item .carousel-caption h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 45px; }
    header div.carousel-inner .item .carousel-caption p {
      font-size: 16px; }
    header div.carousel-inner .item .carousel-caption button {
      background: #fff;
      color: #1575c1;
      font-weight: bold; }
      header div.carousel-inner .item .carousel-caption button:hover {
        background: #1575c1;
        color: #fff; }
  header a.carousel-control span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    color: #303030;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 50px;
    width: 50px; }

div {
  /*&#loginModal {
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-content {
            width: 60%;
            height: 50%;
        }
    }*/ }
  div.dest-main-content .row div div .panel-heading {
    background: #1575c1;
    color: #fff; }
  div.dest-main-content .row div div .panel-body h4 {
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 1px solid #c7c7c7; }
  div.dest-main-content .row div div .panel-body ul {
    margin: 25px 0px; }
    div.dest-main-content .row div div .panel-body ul li {
      margin: 10px 0px; }
  div.dest-main-content .row div div .panel-body div {
    display: flex;
    justify-content: center;
    font-size: 24px; }
    div.dest-main-content .row div div .panel-body div.dest-price {
      margin: 15px 0px; }
      div.dest-main-content .row div div .panel-body div.dest-price span {
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
      div.dest-main-content .row div div .panel-body div.dest-price ins {
        font-style: italic;
        font-weight: 300;
        text-decoration: none;
        margin-left: 0.3125rem; }
    div.dest-main-content .row div div .panel-body div.dest-buttons {
      display: flex;
      justify-content: center;
      align-items: center; }
      div.dest-main-content .row div div .panel-body div.dest-buttons .btn-group .btn {
        width: 150px;
        height: 35px; }
        div.dest-main-content .row div div .panel-body div.dest-buttons .btn-group .btn:nth-child(1) {
          border: 1px solid #22a7f0;
          background: #fff;
          color: #22a7f0;
          font-weight: bold; }
          div.dest-main-content .row div div .panel-body div.dest-buttons .btn-group .btn:nth-child(1):hover {
            background: #1575c1;
            border-color: #1575c1;
            color: #fff; }
        div.dest-main-content .row div div .panel-body div.dest-buttons .btn-group .btn:nth-child(2) {
          border: 1px solid #22a7f0;
          background: #22a7f0;
          color: #fff;
          font-weight: bold; }
          div.dest-main-content .row div div .panel-body div.dest-buttons .btn-group .btn:nth-child(2):hover {
            background: #1575c1;
            border: 1px solid #1575c1; }
  div.dest-main-content .dest-call {
    height: 100px;
    display: flex;
    align-items: center; }
    div.dest-main-content .dest-call div {
      margin: 0; }
      div.dest-main-content .dest-call div div:nth-child(2) button {
        background: #1575c1;
        color: #fff;
        font-weight: bold; }
        div.dest-main-content .dest-call div div:nth-child(2) button:hover {
          background: #555; }

